@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
}

/*-------first header Starts-----*/
.first-header {
	background-color: #FFFFFF;
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #cfcfce;
}
.first-header-items {
	padding: 6px 10px;
	padding-left: 15px;
}
.first-header-items img {
	height: 20px;
	width: 20px;
}
.first-header-items span {
	color: #000000;
	font-family: "Montserrat-light", sans-serif;
	font-size: 14px;
}
img,
svg {
	vertical-align: middle;
	margin-left: 20px;
}
.fb{
	/*position: relative;*/
	margin-left: 900px;

}.yt{
	/*position: relative;*/
	margin-left: 25px;

}.insta{
	/*position: relative;*/
	margin-left: 25px;

}

/*-------first header Ends-----*/

/*-----Second header starts----*/
.second-header ul {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 20px;
	padding-left: 15px;
}
.second-header .logo {
	display: flex;
	flex-wrap: wrap;
	left: 0;
	color: #1e1e1e;
	font-size: 20px;
	font-weight: 500;
}

.second-header ul li {
	display: inline-flex;
	margin-left: 90px;
	font-weight: 50px;
}
.second-header ul .search-bar {
	width: 600px;
	height: 30px;
	display: flex;
	background: #f2f2f2;
	border: 1px solid #cccccc;
	border-radius: 5px;
}
.second-header ul .search-bar input {
	width: 600px;
	height: 28px;
	border: 1px;
	padding: 5px 10px;
	font-size: 14px;
	border-radius: 5px 0 0 5px;
}
.second-header ul .search-bar .icon .fa {
	height: 91%;
	width: 40px;
	line-height: 1;
	text-align: center;
	font-size: 18px;
	color: rgb(241, 55, 55);
	background: rgb(252, 252, 252);
	border: 1px;
	border-radius: 0 5px 5px 0;
}

/* .second-header ul .search-bar .icon .fa:hover {
	background: #ffb600;
} */
/*-----third header starts-----*/
.navbar {
	background-color: #555555;
	width: 100%;
	height: 50px;
}
nav ul {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.navbar-items {
	display: inline-flex;
	padding: 6px 12px;
	padding-left: 200px;
}
.navbar-items a {
	text-decoration: none;
	font-size: 18px;
	font-family: "Montserrat-Semi-bold", sans-serif;
	color: rgb(255, 255, 255);
	letter-spacing: 4px;
	transition: ease-out 0.3s;
	margin: 35px;
}
.navbar-items a:hover {
	color: #ffb600;
	cursor: pointer;
}
/*-----third header Ends-----*/
