@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
}

/*-------first header Starts-----*/
.first-header {
	background-color: #fff;
	display: inline-flex;
	width: 100%;
	height: 40px;
}
.first-header-items1 {
	position: absolute;
	padding: 6px 10px;
	left: 5%;
}
.first-header-items1 span {
	color: #000;
	font-family: "Montserrat-light", sans-serif;
	font-size: 14px;
}
.first-header .first-header-items1 img {
	display: inline-block;
	vertical-align: middle;
	margin: 5px;
	width: 20px;
	padding: 1px;
}
img,
svg {
	vertical-align: middle;
	max-width: 140px;
}
.first-header .first-header-items2 {
	position: absolute;
	display: flex;
	right: 10%;
}
.first-header .first-header-items2 img {
	display: inline-flex;
	justify-content: right;
	width: 25px;
	margin: 8px;
	padding: 2px;
}
.first-header::after {
	content: "";
	clear: both;
	display: inline;
}
.first-header-items2 img:hover {
	transform: scale(1.4);
}
/*-------first header Ends-----*/

/*-----Second header starts----*/
.second-header ul {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 20px;
	padding-left: 15px;
	border-top: 1px solid #cccccc;
}
.logo {
	/* display: flex; */
	/* flex-wrap: wrap;
	left: 0; */
	width: 150px;
}

.second-header ul li {
	display: inline-flex;
	margin-left: 90px;
	font-weight: 50px;
}
.second-header ul .search-bar {
	width: 600px;
	height: 30px;
	display: flex;
	background: #f2f2f2;
	border: 1px solid #cccccc;
	border-radius: 5px;
}
.second-header ul .search-bar input {
	width: 600px;
	height: 28px;
	border: 1px;
	padding: 5px 10px;
	font-size: 14px;
	border-radius: 5px 0 0 5px;
}
.second-header ul .search-bar .icon .fa {
	height: 91%;
	width: 40px;
	line-height: 1;
	text-align: center;
	font-size: 18px;
	color: #ffb600;
	background: rgb(252, 252, 252);
	border: 1px;
	border-radius: 0 5px 5px 0;
}

.second-header ul li .cart {
	position: relative;
	right: 70px;
	width: 25px;
	height: 25px;
}
.second-header ul li .login {
	position: relative;
	width: 30px;
	height: 30px;
}

/*-----third header starts-----*/
.navbar {
	background-color: #555555;
	width: 100%;
	height: 50px;
}
nav ul {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.navbar-items {
	display: inline-flex;
	padding: 6px 12px;
	padding-left: 250px;
}
.navbar-items a {
	text-decoration: none;
	font-size: 18px;
	font-family: "Montserrat-Semi-bold", sans-serif;
	color: rgb(255, 255, 255);
	letter-spacing: 4px;
	transition: ease-out 0.3s;
	margin: 45px;
}
.navbar-items a:hover {
	color: #ffb600;
	cursor: pointer;
}
/*-----third header Ends-----*/
