@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
}

/*-------first header Starts-----*/
.first-header {
	background-color: #1e1e1e;
	width: 100%;
	height: 40px;
}
.first-header-items {
	padding: 6px 10px;
	padding-left: 15px;
}
.first-header-items span {
	color: rgb(255, 255, 255);
	font-family: "Montserrat-light", sans-serif;
	font-size: 14px;
}
img,
svg {
	vertical-align: middle;
	margin-left: 20;
}
/*-------first header Ends-----*/

/*-----Second header starts----*/
.second-header {
	padding: 6px 10px;
	padding-left: 15px;
}
.second-header-logo {
}
.search-bar {
}
/*-----third header starts-----*/
.navbar {
	background-color: #555555;
	width: 100%;
	height: 52px;
}
.navbar-items {
	padding: 6px 12px;
	padding-left: 200px;
}
.navbar-items a {
	text-decoration: none;
	font-family: "Montserrat-Semi-bold", sans-serif;
	color: rgb(255, 255, 255);
	letter-spacing: 4px;
	font-size: 18px;
	transition: ease-out 0.3s;
	margin: 35px;
}
.navbar-items a:hover {
	color: #fad02c;
	cursor: pointer;
}
/*-----third header Ends-----*/
